<button class="btn btn-dark" (click) = 'TestPrint()' >print</button>
<div  class="container printable container-ticket-main" id="printable">
  <div class="row align-items-start"> <!--Основная строка-->
    <div class="col-6 p-0 m-0 align-self-start"> <!--Главная область-->
      <div class="row"> <!--Имя кинотеатра -->
        <div class="col p-0 m-0 align-self-start ">
          <div class="card p-0 m-0 border border-dark">
            <h5 class="card-title text-center">КИНОТЕАТР "ПЕРЕМОГА"</h5>
          </div>  
        </div>
      </div>
      <div class="row align-items-start"> <!--Инфа о фильме месте и цены-->
        <div class="col p-0 m-0 align-self-start"> <!--фильм и место-->
          <div class="card border border-dark" id="movie-card">
            <span class="card-text movie text-center">Игрушки для взрослых 2D Игрушки для взрослых 2D</span>  
            <p class="card-text time text-center">22:00</p>  
            <p class="card-text info text-center">КТМ № 50789 </p>  
            <p class="card-text info text-center">Ряд 10</p>  
            <p class="card-text info text-center mb-3">Место 18</p>
          </div>                 
        </div> 
        
        <div class="col p-0 m-0 align-self-start"> <!--таблица цены-->
          
          <table class="table table-sm table-bordered p-0 m-0 border border-dark">
              <tbody>                  
                  <tr class="table-light">
                    <td>Дата показа</td>
                    <td>2018.10.01 </td>
                  </tr>
                  <tr class="table-light"> 
                      <td>Знижка</td>
                      <td>"  "</td>
                  </tr>
                  <tr class="table-light">
                      <td>Пидстава</td>
                      <td>"   "</td>
                  </tr>
                  <tr class="table-light">
                      <td>Всьго</td>
                      <td>75грн. </td>
                  </tr>
                  <tr class="table-light">
                      <td>Кассир</td>
                      <td>логин логин логин</td>
                  </tr>
                  <tr class="table-light">
                      <td>Дата заполнения</td>
                      <td>2018.10.01 </td>
                  </tr>
              </tbody>    
          </table>    
        </div> 
      </div>
      <div class="row align-items-start"> <!--подвал -->
        <div class="col p-0 m-0 align-self-start ">
          <div class="card border border-darkborder border-dark">
            <p class="card-text info text-center">Ретельно зберигати квиток до кинця сеансу</p>   
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 p-0 m-0 align-self-start "> <!--Вертикальная надпись-->
      <div class="card p-0 m-0 border border-dark">
        <p class="card-text info text-center m-0">К</p>  
        <p class="card-text info text-center m-0">О</p>  
        <p class="card-text info text-center m-0">Н</p>  
        <p class="card-text info text-center m-0">Т</p>  
        <p class="card-text info text-center m-0">Р</p>  
        <p class="card-text info text-center m-0">О</p>  
        <p class="card-text info text-center m-0">Л</p>  
        <p class="card-text info text-center m-0">Ь</p>  
        <p class="card-text info text-center">КТМ</p>  
        <p class="card-text info text-center mb-2">№ 50789</p>   
      </div>    
    </div> 
  </div>
</div>

<!--разрыв строаницы
<div  class="nextpage"></div>--> 