

<div class="container container-main unprintable">
   <!-- <div class="row">
       <div class="col-sm">
            <button class="btn btn-dark" (click)="TestLoggIn()"> test login </button>
            <div> {{ loginResoult }} </div>
        </div>
    </div> -->                    
    <div class="row justify-content-md-center greed-row-extend">
        <div class="col-sm-6">
            <form [formGroup] = 'form' >
                <div *ngIf="form.errors" class="alert alert-danger">
                    {{ form.errors.errorMessage }}                    
                </div>
                
                <div *ngIf="form.pending" class="alert alert-warning">
                    Пытаемся подключиться ...                            
                </div>
    

                <div class="form-group">
                    <label for="InputLogin">Логин</label>
                    <input formControlName = 'login'
                           class="form-control"
                           [ngClass]="{'is-invalid': login.invalid && login.touched}" 
                           type="text"
                           id="InputLogin"
                           aria-describedby="loginHelp"
                           placeholder="Введите логин">
                    <div class="invalid-feedback">
                        Не заполнен логин.
                    </div>                 
        
                </div>
  
                <div class="form-group">
                    <label for="InputPassword">Пароль</label>
                    <input formControlName = 'password'
                           class="form-control"
                           [ngClass]="{'is-invalid': password.invalid && password.touched}" 
                           type="password"
                           id="InputPassword"
                           placeholder="Введите пароль">
                    <div class="invalid-feedback">
                        Не заполнен пароль.
                    </div>                 
                               
                    <small id="loginHelp" class="form-text text-muted">Никому не сообщайте Ваши логин и пароль.</small>
                </div>
                <div class="row justify-content-between">
                    <div class="col-4">
                        <button #btnWEB
                         value="WEB"
                         (click) = 'Loggin(btnWEB)'
                         [disabled]="form.invalid"
                         type="submit"
                         class="btn btn-dark full-widht">Зайти c WEB</button>
                    </div>
                    <div class="col-4">
                        <button #btn1C 
                        value="1C"  
                        (click) = 'Loggin(btn1C)'  
                        type="submit" 
                        class="btn btn-dark full-widht">Зайти c 1C</button>
                    </div>        
                </div>        
            </form>
        </div>
    </div>        
</div>